{:paths   ["src"]
 :deps    {org.clojure/clojurescript      {:mvn/version "1.11.60"}
           missionary/missionary          {:mvn/version "b.32"}
           io.github.hyperfiddle/electric {:git/sha "e4be2eb2db407f1c8a8992d57cf43d5692b521fd"}
           io.github.nextjournal/markdown {:mvn/version "0.5.144"}
           venantius/glow                 {:mvn/version "0.1.6"}
           garden/garden                  {:mvn/version "1.3.10"}
           hiccup/hiccup                  {:mvn/version "2.0.0-RC1"}}
 :aliases {:dev     {:extra-paths ["dev"]}
           :release {:main-opts ["-m" "release"]}}}