{"index"                          {:template :home}
 "404"                            {:template :not-found}

 "about"                          {:template :topic}
 "documentation"                  {:template :topic}
 "api-overview"                   {:template :topic}
 "operators"                      {:template :topic}
 "publishers"                     {:template :topic}
 "synchronizers"                  {:template :topic}
 "ports"                          {:template :topic}
 "continuous-time"                {:template :topic}
 "quickstart"                     {:template :topic}

 "api/missionary.core/!"          {:template :topic}
 "api/missionary.core/_"          {:template :topic}
 "api/missionary.core/_<"         {:template :topic}
 "api/missionary.core/_>"         {:template :topic}
 "api/missionary.core/absolve"    {:template :topic}
 "api/missionary.core/amb"        {:template :topic}
 "api/missionary.core/amb="       {:template :topic}
 "api/missionary.core/ap"         {:template :topic}
 "api/missionary.core/attempt"    {:template :topic}
 "api/missionary.core/blk"        {:template :topic}
 "api/missionary.core/buffer"     {:template :topic}
 "api/missionary.core/compel"     {:template :topic}
 "api/missionary.core/cp"         {:template :topic}
 "api/missionary.core/cpu"        {:template :topic}
 "api/missionary.core/dfv"        {:template :topic}
 "api/missionary.core/eduction"   {:template :topic}
 "api/missionary.core/group-by"   {:template :topic}
 "api/missionary.core/holding"    {:template :topic}
 "api/missionary.core/join"       {:template :topic}
 "api/missionary.core/latest"     {:template :topic}
 "api/missionary.core/mbx"        {:template :topic}
 "api/missionary.core/memo"       {:template :topic}
 "api/missionary.core/never"      {:template :topic}
 "api/missionary.core/none"       {:template :topic}
 "api/missionary.core/observe"    {:template :topic}
 "api/missionary.core/publisher"  {:template :topic}
 "api/missionary.core/race"       {:template :topic}
 "api/missionary.core/rdv"        {:template :topic}
 "api/missionary.core/reduce"     {:template :topic}
 "api/missionary.core/reductions" {:template :topic}
 "api/missionary.core/relieve"    {:template :topic}
 "api/missionary.core/sample"     {:template :topic}
 "api/missionary.core/seed"       {:template :topic}
 "api/missionary.core/sem"        {:template :topic}
 "api/missionary.core/signal"     {:template :topic}
 "api/missionary.core/sleep"      {:template :topic}
 "api/missionary.core/sp"         {:template :topic}
 "api/missionary.core/stream"     {:template :topic}
 "api/missionary.core/subscribe"  {:template :topic}
 "api/missionary.core/timeout"    {:template :topic}
 "api/missionary.core/via"        {:template :topic}
 "api/missionary.core/via-call"   {:template :topic}
 "api/missionary.core/watch"      {:template :topic}
 "api/missionary.core/zip"        {:template :topic}
 "api/missionary.Cancelled"       {:template :topic}}