{:max-width        "980px"
 :padding          "10px"
 :header-font-size "1.2rem"
 :footer-font-size "1.2rem"
 :text-color       "#1F2328"
 :link-color       "#0969da"
 :highlight-color  "#4C5729CC"
 :code-special     "#cf222e"
 :code-literal     "#0550ae"
 :code-comment     "#6e7781"
 :code-string      "#0a3069"
 :code-symbol      "#1F2328"}