{:code-font-size "1rem"
 :pre-padding "0.5rem"
 :glow {:background   "#f6f8fa"
        :exception    "#859900"
        :repeat       "#859900"
        :conditional  "#859900"
        :variable     "#6f42c1"
        :core-fn      "#6f42c1"
        :definition   "#6f42c1"
        :reader-char  "#6f42c1"
        :special-form "#d73a49"
        :macro        "#d73a49"
        :number       "#005cc5"
        :boolean      "#005cc5"
        :nil          "#005cc5"
        :s-exp        "#000000"
        :keyword      "#005cc5"
        :comment      "#6a737d"
        :string       "#0a3069"
        :character    "#0a3069"
        :regex        "#0a3069"
        :symbol       "#000000"}}